#!/bin/sh

### BEGIN INIT INFO
# Provides:        vault
# Required-Start:  $network $syslog
# Required-Stop:   $network $syslog
# Default-Start:   2 3 4 5
# Default-Stop:    1
# Short-Description: Start Vault service
### END INIT INFO

# {{ ansible_managed }}

PATH=/sbin:/bin:/usr/sbin:/usr/bin

. /lib/lsb/init-functions

DAEMON=/usr/bin/vault
PIDFILE=/var/run/vault.pid

test -x $DAEMON || exit 5

if [ -e /etc/vault.hcl ]; then
	VAULT_OPTS="$VAULT_OPTS server -config /etc/vault.hcl >>/var/log/vault.log 2>&1"
fi


LOCKFILE=/var/lock/vault

lock_vault() {
	if [ -x /usr/bin/lockfile-create ]; then
		lockfile-create $LOCKFILE
		lockfile-touch $LOCKFILE &
		LOCKTOUCHPID="$!"
	fi
}

unlock_vault() {
	if [ -x /usr/bin/lockfile-create ] ; then
		kill $LOCKTOUCHPID
		lockfile-remove $LOCKFILE
	fi
}

RUNASUSER=root
UGID=$(getent passwd $RUNASUSER | cut -f 3,4 -d:) || true
# if test "$(uname -s)" = "Linux"; then
#         VAULT_OPTS="$VAULT_OPTS -u $UGID"
# fi

case $1 in
	start)
		log_daemon_msg "Starting Vault server" "vault"
		if [ -z "$UGID" ]; then
			log_failure_msg "user \"$RUNASUSER\" does not exist"
			exit 1
		fi
		lock_vault
  		start-stop-daemon --start --quiet --background --chuid $RUNASUSER --make-pidfile --pidfile $PIDFILE --startas /bin/bash -- -c "exec $DAEMON $VAULT_OPTS"
		status=$?
		unlock_vault
		log_end_msg $status
  		;;
	stop)
		log_daemon_msg "Stopping vault server" "vault"
  		start-stop-daemon --stop --quiet --oknodo --pidfile $PIDFILE
		log_end_msg $?
		rm -f $PIDFILE
  		;;
	restart|force-reload)
		$0 stop && sleep 2 && $0 start
  		;;
	try-restart)
		if $0 status >/dev/null; then
			$0 restart
		else
			exit 0
		fi
		;;
	reload)
		exit 3
		;;
	status)
		status_of_proc $DAEMON "Vault server"
		;;
	*)
		echo "Usage: $0 {start|stop|restart|try-restart|force-reload|status}"
		exit 2
		;;
esac
