# {{ ansible_managed }}

# system-wide mercurial configuration file
# See hgrc(5) for more information

[web]
cacerts=
[hostfingerprints]
scm.=40:e7:63:32:62:7d:f1:13:6d:36:b2:57:1c:9b:87:07:58:fa:d4:c1
